.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
}

nav .title>img {
  width: 6rem;
  margin: 1rem 1rem 1rem 4rem;
}

nav ul {
  display: flex;
  margin-right: 2.5rem;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

nav ul li div {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
}

nav ul li .join {
  display: block;
  padding: 0.7rem;
  margin: 0 0.8rem;
  border-radius: 15px;
  background-color: #33aa49;
  text-decoration: none;
  color: white;
}

nav ul li div:not(.active):hover {
  background-color: white;
  color: black;
  transition: 0.3s ease;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 400px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li {
    margin: 0.2rem 0.5rem;
    margin-right: 1.5rem;
    justify-content: center;
  }

  nav ul li .join {
    margin-left: 7.7rem;
    width: 10rem;
  }
}