*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mainContainer{
    position: absolute;
    width: 100%;
}
.titleContainer{
    position: relative;
    width: 100%;
}
.titleContainer>.title{
    text-align: center;
    color: black;
    margin: 2rem 0 2rem 0;
}
.mainContent{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 7rem 4rem 7rem;
}
.mainContent>.leftContainer{
    width: 100%;
    padding: 2rem 2rem 0 2rem;
}
.leftContainer>p{
    line-height: 2.3rem;
}
.leftContainer>img{
    width: 7rem;
}
.store{
    display: flex;
}
.playStore,.appStore{
    width: 10rem;
    margin-top: 10rem;
}
.playStore{
    margin-right: 2rem;
}
.mainContent>.rightContainer{
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    line-height: 2.3rem;
}
.rightContainer>img{
    width: 7rem;
}
.rightContainer>p{
    line-height: 2rem;
}
.explain{
    position: relative;
    width: 100%;
    height: 10rem;
    background: linear-gradient(140deg, #3ECF7A -50%, #100C40 70%);
    padding: 2rem 10rem 2rem 10rem;
}
.explain>p{
    position: relative;
    text-align: center;
    color: white;
}
.explore{
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 7rem 4rem 7rem;
}
.explore>.leftContainer{
    width: 100%;
    align-items: center;
    padding: 3rem;
}
.explore>.rightContainer{
    width: 100%;
    align-items: center;
    padding: 4rem;
}
.explore>.rightContainer>img{
    width: 70%;
}
.infoGraphics{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 7rem 1rem 7rem;
    background-color: #33AA94;
}
.infoGraphics>.leftContainer{
    width: 100%;
    align-items: center;
    padding: 3rem 7rem 1rem 7rem;
}
.infoGraphics>.rightContainer{
    width: 100%;
    align-items: center;
    padding: 7rem 5rem 1rem 3rem;
}
.infoGraphics>.rightContainer>h2{
    font-size: 2rem;
    font-weight: 100;
    color: white;
    margin-bottom: 1.5rem;
}
.infoGraphics>.rightContainer>p{
    color: white;
    line-height: 2.5rem;
    font-size: 1.2rem;
    word-spacing: 0.3rem;
}
.infoGraphics>.leftContainer>img{
    width: 70%;
}
.dailyDose{
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 7rem 0 7rem;
}
.dailyDose>.leftContainer{
    width: 100%;
    align-items: center;
    padding: 4rem;
}
.dailyDose>.rightContainer{
    width: 100%;
    align-items: center;
    padding: 4rem;
}
.dailyDose>.rightContainer>img{
    width: 60%;
    /* padding: 0 5rem 0 5rem; */
}
@media (max-width:600px) {
    .mainContent{
        flex-direction: column;
        padding: 0 1rem 0 1rem;
    }   
    .rightContainer{
        margin: 3rem 0 0 0;
    }
    .store{
        flex-direction: column;
        align-items: center;    
    }
    .playStore,.appStore{
        margin-top: 2rem;
    }
    .playStore{
        margin-right: 0rem;
    }
    .explain{
        margin-top: 5rem;
        padding: 1rem;
        height: 18rem;
    }
    .explore{
        flex-direction: column;
        padding: 0 1rem 0 1rem;
    }
    .explore>.leftContainer{
        align-items: center;
        padding: 2rem 2rem 0 2rem ;
    }
    .explore>.rightContainer{
        align-items: center;
        padding: 0 2rem 0 2rem ;
    }
    .explore>.leftContainer>h1{
        text-align: center;
    }
    .explore>.rightContainer>img{
        width: 18rem;
        padding-bottom: 2rem;
    }
    .infoGraphics{
        flex-direction: column;
        padding: 0;
    }
    .infoGraphics>.leftContainer{
        align-items: center;
        padding: 2rem 0 0 5rem ;
    }
    .infoGraphics>.rightContainer{
        align-items: center;
        padding: 2rem 2rem 2rem 2rem ;
    }
    .infoGraphics>.rightContainer>h2{
        text-align: center;
    }
    .infoGraphics>.rightContainer>p{
        text-align: center;
    }
    .dailyDose{
        flex-direction: column;
        padding: 0 1rem 0 1rem;
    }
    .dailyDose>.leftContainer{
        align-items: center;
        padding: 2rem 2rem 0 2rem ;
    }
    .dailyDose>.rightContainer{
        align-items: center;
    }
    .dailyDose>.leftContainer>h1{
        text-align: center;
    }
    .dailyDose>.rightContainer>img{
       width: 100%;
    }
}