*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  position: relative;
  width: auto;
  min-height: 47rem;
background-image: url(../src/image/startbackground_1.webp);
background-size: cover;
background-repeat: no-repeat;
}

.logo{
  position: absolute;
  max-width: 6rem;
  max-height: 3rem;
  margin: 1rem 0 0 10rem;
}
.home>.title{
  position: absolute;
  /* font-family: 'Bubblegum Sans', cursive; */
  font-weight: 700;
  font-family: Bubblegum;
  color: white;
  margin-left: 15%;
  font-size: calc(1.625rem + 3.1vw);
  margin-top: 12rem;
}
.disc{
  position: absolute;
  color: white;
  font-size: calc(1.225rem + 3.1px);
  font-weight: 100;
  font-family:sans-serif;
  margin-left: 15%;
  margin-top: 30rem;

}
.playstore{
  position: absolute;
  max-width: 10rem;
  margin-left: 15%;
  margin-top: 33rem;

}
.appstore{
  position: absolute;
  max-width: 10rem;
  margin-left: 27%;
  margin-top: 33rem;
}
@media screen and (max-width:400px) {
  .disc{
    margin-top: 22rem;
  }
  .playstore{
    max-width: 8rem;
    margin-top: 27rem;
    margin-left: 1rem;
  }
  .appstore{
    max-width: 8rem;
    margin-left: 13rem;
    margin-top: 27rem;
  }
}
/*----------------- home end---------------- */



/*----------------- modules start ---------------- */
.parents{
  position: relative;
  max-width: 100%;
  /* min-height: 10rem; */
  padding-bottom: 5rem;
}
.blocktitle{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin: 6rem 0 5px 5px;
  padding: 0px 20px;
}
.blockdes{
  text-align: center;
  font-weight: 400;
  font-size : 20px;
  color: gray;
  margin: 0px 40px;
  padding: 0px 20px;
}
.block{
 margin-top: 2rem;
}

.blocks{
  padding: 2rem 2rem;
  /* padding: 0 2rem; */
  max-width: 20rem;
  min-height: 13rem;
  text-align: center;

}
.first-block{
  /* margin-top: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 3rem; */
  flex-wrap: wrap;
}
.second-block{
  /* margin-top: 3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 2rem; */
  flex-wrap: wrap;

}
.third-block{
  /* margin-top: 3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 2rem; */
  flex-wrap: wrap;
}
.blocks>.module{
  max-width: 7rem;
  padding-bottom: 1rem;
}

.blocks>.title{
  padding-bottom: 0.5rem;
}
.blocks>.description{
  padding-bottom: 0.5rem;
  color: gray;
}




/*----------------- modules end---------------- */


  /* <---------price start---------> */
  .ratecard{
    /* border: 1px solid black; */
    max-width:auto ;
    min-height: 30rem;
    background: linear-gradient(94deg, rgba(62,207,122,1) 0%, rgba(0,0,0,1) 66%);

  }
  .about{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 5rem;
    /* margin-top: 4rem; */
    /* background: linear-gradient(50deg, rgba(41,55,240,1) 27%, rgba(159,26,226,1) 65%); */
    background-color: #33AA94;
    padding-bottom: 5rem;
    color: white;
  }
  .card>hr{
    margin-left: 10%;
    width: 75%;
    color:grey;
  }
  .ratetitle{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    /* font-family: ; */
    color: white;
    margin-top: 2rem;
  }
  .ratedes{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: gray;
  }
  .card-container{
   /* position: relative; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card{
    background-color: white;
    margin: 2rem;
    border-radius: 5%;
    /* border: 1px solid black; */
    width: 22rem;
    height: 22rem;
    /* text-align: center; */
  }
  .cardtitle{
    color: gray;
    font-weight: 500;
    font-size: 15px;
    margin-top: 2rem;
    text-align: center; 
  }
  .price{
    font-family:Poppins ;
    font-size: 40px;
    font-weight: 800;
    text-align: center; 
    margin-top: 2rem;
  }
  .validity{
    /* position: absolute; */
    font-size:12px;
    font-weight: 500;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .cardlist>li{
    /* text-align: center; */
    list-style-type:none;
    color: gray;
    padding-top: 1rem;
    margin-left: 4rem;
    
  }
  
   /* <---------price end---------> */



  /* <--------------------link start-----------------------> */

  .links{
    max-width: auto;
    min-height: 34rem;
    /* background: linear-gradient(50deg, rgba(41,55,240,1) 27%, rgba(159,26,226,1) 65%); */
    background-color: white;
  }
  

  .downloadlink{
    color: black;
    text-align: center;
    padding-top: 4rem;
  }
  .downlink{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
  }
  .playstorelink{
    width: 10rem;
  }
  .appstorelink{
    width: 10rem; 
  }
  @media screen and (max-width:400px){
    .downlink{
      gap: 1.5rem;
      display: flex;
    
    justify-content: center;
    }
  }
  /* <--------------------link end-----------------------> */ 